@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 50vw;
  margin: 0 auto;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section {
  padding: 2em 0;
  border-radius: 8px;
  min-height: 450px;
  max-width: 665px;
  width: 90%;
  text-align: center;
  background-color: #1976d2;
  color: white;
}
.heading {
  letter-spacing: 2px;
  font-size: 2.7rem;
  margin: 0.8em;
  text-align: center;
}

.bal {
  font-size: 1.8rem;
  margin: 1em;
  text-transform: uppercase;
}
.small {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
}

.add_label {
  display: none;
}

input {
  border: 0;
  height: 4em;
  width: 20em;
  background-color: #1976d2;
  border-bottom: 2px solid black;
  padding: 0 1em;
  color: white;
}
input::placeholder {
  font-size: 1rem;
  color: white;
}
textarea:focus,
input:focus {
  outline: none;
}
.add_btn {
  margin-top: 2em;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  padding: 0.8em 1em;
  background-color: #00214d;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.288);
  transition: 0.1s;
}
.add_btn:hover {
  background-color: #042d57;
  color: rgb(255, 255, 255);
}
